#MediaHeader div{
    padding: 16px;
    border-top-left-radius: 4px;
	border-top-right-radius: 4px;
    background-color: green;
    /* margin: -2px; */
}

#MediaHeader div h4{
    font-size: 1.125rem!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    margin: 0;
    color: white;
}