.accordion2 {
	background-color: white;
	width: 100%;
	max-width: 82.5rem;
	/* padding: 0 0.75rem; */
	margin: 0 auto;
}
.accordion2 .accordion-item {
	border-top: 1px solid #e5e5e5;
	/* padding: 1.5265rem 0; */
}

.accordion2 #accordionOpenCloseBtn {
	position: relative;
	display: block;
	text-align: left;
	width: 100%;
	padding: 0;
	color: rgb(244, 244, 244);
	font-size: 1.15rem;
	font-weight: 400;
	border: none;
	background: none;
	outline: none;
}

.accordion2 #accordionOpenCloseBtn:hover,
.accordion2 #accordionOpenCloseBtn:focus {
	cursor: pointer;
	/* color: #03b5d2; */
}

.accordion2 #accordionOpenCloseBtn:hover::after,
.accordion2 #accordionOpenCloseBtn:focus::after {
	cursor: pointer;
	/* color: #03b5d2; */
	border: 1px solid rgb(244, 244, 244);
}

.accordion2 #accordionOpenCloseBtn .accordion-title {
	font-size: 1.125rem;
	line-height: 2.3125;
	padding: 1rem 0.75rem;
	background-color: #f8f8f8;
	color: rgb(44, 44, 44);
}

@media screen and (min-width: 992px) {
	.accordion2 #accordionOpenCloseBtn .accordion-title {
		font-size: 1.5rem !important;
	}
}

.accordion2 #accordionOpenCloseBtn .icon {
	display: inline-block;
	position: absolute;
	top: 28px;
	right: 20px;
	width: 20px;
	height: 20px;
	border: 1px solid rgb(214, 214, 214);
	background-color: white;
	border-radius: 44px;
	overflow: hidden;
}

.accordion2 #accordionOpenCloseBtn .icon::before {
	display: block;
	position: absolute;
	content: '';
	top: 7px;
	left: 0px;
	width: 18px;
	height: 4px;
	background: black;
}
.accordion2 #accordionOpenCloseBtn .icon::after {
	display: block;
	position: absolute;
	content: '';
	top: 0px;
	left: 7px;
	width: 4px;
	height: 18px;
	background: black;
}

@media screen and (min-width: 992px) {
	.accordion2 #accordionOpenCloseBtn .icon {
		width: 30px;
		height: 30px;
	}
	.accordion2 #accordionOpenCloseBtn .icon::before {
		top: 12px;
		left: 0px;
		width: 28px;
		height: 5px;
	}

	.accordion2 #accordionOpenCloseBtn .icon::after {
		top: 0px;
		left: 12px;
		width: 5px;
		height: 28px;
	}
}

/* .accordion #accordionOpenCloseBtn[aria-expanded='true'] {
	color: #03b5d2;
} */
.accordion2 #accordionOpenCloseBtn[aria-expanded='true'] .icon::after {
	width: 0;
}
.accordion2 #accordionOpenCloseBtn[aria-expanded='true'] + .accordion-content {
	opacity: 1;
	max-height: max-content;
	transition: all 200ms linear;
	will-change: opacity, max-height;
	margin: 0;
}

.accordion2 .accordion-content {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 200ms linear, max-height 200ms linear;
	will-change: opacity, max-height;
	/* padding: 1.125rem 0px; */
}
.accordion2 .accordion-content p {
	font-size: 0.875rem;
	line-height: 1.1875rem;
	padding: 0 5px;
	font-weight: 300;
	/* font-family: 'CeraLight'; */
}

#EnterCityState {
	padding: 25px;
	padding-left: 15px;
	border-right: 1px solid rgb(0, 109, 183);
}

.input-group-text {
	background-color: transparent;
	padding: 0.9375rem;
	border-color: rgb(0, 109, 183);
	border-width: 1px;
	border-style: solid;
	border-radius: 0px 0.3125rem 0.3125rem 0px;
}
.input-group-text:hover {
	background: rgb(230, 243, 255);
}
.input-group-text i {
	border-color: rgb(0, 109, 183);
}

/* ================================================================================================================== */

/* ================================================================================================================== */

/* ================================================================================================================== */
/*
================================================================================================================== */

.specifications {
	color: #2c2c2c;
	line-height: 1.5;
	/* padding: 12px !important; */
}

@media screen and (min-width: 992px) {
	.accordion2 .specifications {
		padding: 0;
	}
}

.specificationsImg {
	text-align: center;
	padding: 10px;
}

.specificationsParagraph {
	font-size: 0.8975rem !important;
	line-height: 1.5;
	margin: 1.125rem 0;
}

.specificationsUl {
	display: block;
	margin: 1.125rem 0px;
	padding-left: 1.875rem;
	list-style-position: outside;
	margin-left: 1.5625rem;
	list-style-type: disc;
}

.specificationsUl li {
	/* line-height: 3; */
	padding-bottom: 1.5625rem;
}

.specificationsBtn,
.specificationsBtn:focus,
.specificationsBtn:active {
	display: inline-flex;
	margin: 0.9375rem 0px;
	display: inline-block;
	width: auto;
	padding: 0.9375rem;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	border-collapse: collapse;
	text-align: center;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.1875rem;
	background-color: rgb(0, 109, 183) !important;
	color: rgb(255, 255, 255) !important;
	border-color: rgb(0, 109, 183);
	font-size: 1rem;
	line-height: 1.5625rem;
	font-weight: 400;
	width: max-content !important;
}
.specificationsBtn:hover {
	color: rgb(0, 109, 183) !important;
	background-color: white !important;
}

.blue {
	color: rgb(0, 109, 183) !important;
	cursor: pointer;
}

.custReview .specificationsParagraph {
	width: 100%;
	padding: 1.25rem 0px;

	/* border-top: 1px solid rgb(224, 224, 224); */
}

.custReview ul {
	list-style-type: none;
}

.custReview .nickname {
	font-size: 0.875rem;
	line-height: 1.1875rem;
	font-weight: 400;
	text-transform: inherit;
}
.custReview .review {
	font-weight: 400;
	text-transform: inherit;
	line-height: 1.75rem;
	display: block;
	overflow-wrap: break-word;
	word-break: break-word;
	max-height: 7.5rem;
	overflow: hidden;
	position: relative;
	width: 100%;
}
