.ImgWrapper {
	height: 100vh;
	/* position: absolute; */
}

.arrow {
	position: absolute;
	top: 50%;
	font-size: 32px;
	opacity: 0.3;
	color: rgb(224, 224, 224);
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.ImgWrapper:hover .arrow {
	opacity: 0.6;
	/* color: #333; */
	width: 32px;
	height: 32px;
}

.ImgWrapper #arrow-left .fa-chevron-circle-left,
.ImgWrapper #arrow-right .fa-chevron-circle-right {
	color: #333;
	width: 32px;
	height: 32px;
	border-radius: 32px;
	transition: 0.3s;
}

.ImgWrapper #arrow-left .fa-chevron-circle-left:hover,
.ImgWrapper #arrow-right .fa-chevron-circle-right:hover {
	opacity: 1;
	color: rgb(224, 224, 224);
	background-color: #333;
	width: 32px;
	height: 32px;
	border-radius: 32px;
	/* border: 0px; */
}

#arrow-right {
	left: 95%;
}

#arrow-left {
	left: 5%;
}

#featured {
	object-fit: contain;
	height: 100%;
	/* padding: 60px; */
}

.thumbnail {
	object-fit: cover;
	width: 50px;
	height: 50px;
	border: 1px solid #e5e5e5;
	margin: 2px 0.625rem;
	padding: 2px;
	background-color: white;
	cursor: pointer;
}

@media screen and (min-width: 1200px) {
	.thumbnail {
		margin: 2px 2px 0.75rem;
	}
}
