
*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{font-family: Arial, Helvetica, sans-serif;
}

.btnregion{
background:white;
border-style: none;
color: black;
text-align: center;
}

.btnregion:hover{
  background: white;
  color: black;
}

.logo{
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  display: inline-block;
}
.branchModel .modal-title{
  text-align: center;
  width: 100%;
}
.branchModel .modal-dialog{
  max-width: 100% !important;
  margin: 0 !important;
  height: 100%;
}
.branchModel .modal-content
{
  height: 100%;
}

.nav-item{color: black;
font-weight: bold;
font-family: sans-serif;
justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
border-style: none !important;
}

.nav-item:hover{

  color: black;
  font-weight: bold;
  font-family: Arial;
}
.nav-tabs{

  border-bottom: none !important;
  padding:10px 10px;
}
.bg-style{
background-color:#ffd500;


}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active    ,.bd-style:active{
  background-color:#ffd500 !important

}

  ul.north li{    
      line-height: 80px;
      list-style:none;
      display: inline-block;
      position: relative;

}
.flag{

width: 70px !important;
}
.list{
  margin-left: 70px
}
.yellowBg .nav-pills .nav-link.active, .yellowBg .nav-pills .show>.nav-link {
  color: #fff;
  background-color:#ffd500 !important;
}