.ShopmorelikethisStyle{

    padding-top: 0.9375rem;
    font-size: 0.875rem;
    line-height: 1.1875rem;
}

.ShopmorelikethisItems{
    color: #007bff!important;
    margin-top: 0.3125rem;
    margin-right: 0.625rem;
}