body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@font-face {
	font-family: 'CeraLight';
	src: url('../src/fonts/CeraProLight.ttf');
	font-weight: 100 300; /*font is not applied by font-weight ... use font-family instead in your code it will work */
	font-style: normal;
}

@font-face {
	font-family: 'CeraBold';
	src: url('../src/fonts/CeraProBold.ttf');
	font-weight: 700 900; /*font is not applied by font-weight ... use font-family instead in your code it will work */
	font-style: oblique;
}

@font-face {
	font-family: 'CeraItalic';
	src: url('../src/fonts/CeraProRegularItalic.ttf');
	font-weight: 400 600; /*font is not applied by font-weight ... use font-family instead in your code it will work */
	font-style: italic;
}

@font-face {
	font-family: 'Cera';
	src: url('../src/fonts/CeraProMedium.ttf');
	font-weight: 400 600; /*font is not applied by font-weight ... use font-family instead in your code it will work */
	font-style: normal;
}

body {
	font-family: Cera, sans-serif !important;
	line-height: 1.5 !important;
	font-size: 16px !important;
}

a {
	color: #2c2c2c !important;
}
