.ProductDetailsContainer {
	width: 100%;
	max-width: 82.5rem;
	padding: 0 0.75rem;
	margin: 10px auto;
	background-color: white;
	margin-bottom: 0;
}

.ProductDetails {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	padding: 0.75rem 0px;
	margin: 0px auto;
	width: 100%;
}

@media screen and (min-width: 901px) {
	.ProductDetails {
		padding: 1.875rem 0px;
		max-width: 60rem;
	}
}

.ProductDetailsStyle {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding: 1.25rem;
	margin: 0px;
	border-left: 1px solid rgb(224, 224, 224);
	width: 25%;
	flex-grow: 1;
}

@media screen and (min-width: 901px) {
	.ProductDetailsStyle {
		flex-grow: 0;
		padding: 1.875rem 3.75rem;
	}
}

.bl-none {
	border-left: none;
}

.ProductDetailsStyleIcon {
	font-size: 40px;
	color: #2c2c2c;
	display: flex;
	align-items: center;
	margin-bottom: 0.3125rem;
	opacity: 0.7;
}

.ProductDetailsStyleData {
	font-weight: 500;
	color: rgb(44, 44, 44);
	font-size: 1.5rem;
	line-height: 2.3125rem;
	white-space: nowrap;
	padding: 5px;
}



@media screen and (min-width: 901px) {
	.ProductDetailsStyleData {
		font-size: 2.5rem;
		line-height: 3.125rem;
	}
}

.ProductDetailsStyleTitle {
	font-size: 0.875rem;
	font-weight: 400;
	color: rgb(44, 44, 44);
	text-align: center;
	line-height: 1.1875rem;
	width: max-content;
}

@media screen and (min-width: 901px) {
	.ProductDetailsStyleTitle {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
}
