.react-multi-carousel-dot button {
	width: 40vh !important;
	height: 5px !important;
	border-radius: 0 !important;
	border-width: 0px !important;
	margin-right: 0px !important;
}
.react-multi-carousel-dot--active button {
	background: grey !important;
}
.react-multi-carousel-dot--active button:hover {
	background: #2c2c2c !important;
}
button.add {
	background-color: rgb(253, 128, 36);
}
button.add:hover {
	background-color: transparent;
	border: 1px solid rgb(253, 128, 36);
}
.outOfStock:disabled {
	color: rgba(208, 2, 27, 1);
	background: rgb(255, 242, 242);
	border: 1px solid rgb(255, 242, 242);
	font-size: 1rem;
	font-weight: 500;
	opacity: 1 !important;
}
.outOfStock:disabled:hover {
	cursor: text;
}
.love:hover {
	cursor: pointer;
}
.wish i {
	color: rgb(4, 4, 196);
}
.pImg {
	transition: all 1s;
}
.pImg:hover {
	transition: all 0.5s;
	transform: scale(1.1);
	cursor: pointer;
}
.pImg2 {
	margin: 100px 0;
}
.ant-carousel .slick-dots-bottom {
	bottom: -10px;
}
.ant-carousel .slick-dots li {
	background-color: blue;
}
.ant-carousel .slick-dots li.slick-active button {
	background-color: grey;
}

/*********VIP PAGE *******/
.logoVipContainer {
	background-color: rgb(10, 77, 173);
}
.VipIconsContainer {
}
.VipIcons {
	list-style: none;
}
.VipIconsLis {
	padding-top: 2px;
	margin: auto;
}
.VipIconsLis a p {
	color: #000;
	font-size: 0.75rem;
	padding-top: 10px;
}

.VipIconsLis a:hover p {
	color: blue;
}
.earnPoints p {
	font-size: 22px;
}
.earnPoints1 p {
	background: transparent;
	color: #000 !important;
	text-decoration: none !important;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.75rem;
	height: auto;
	margin: 0;
	padding: 0.625rem 0 0.375rem;
}
.earnPointsIcons {
	list-style: none;
}

button.earnBtn {
	background-color: #fd8023;
	clear: both;
}

.earnPointsIcons li {
	position: relative;
}
.earnPointsIcons li:hover {
	cursor: pointer;
}

.earnPointsIcons li .earnBtn {
	position: absolute;
	bottom: -30px;
	left: 1px;
}

.earnPointsIcons li .description::after {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5625rem;
	content: 'Earn';
	background: #fd8023;
	border-radius: 2px;
	bottom: 0.9375rem;
	color: #000;
	display: block;
	left: 0.9375rem;
	padding: 0.75rem;
	position: absolute;
	right: 0.9375rem;
	text-align: center;
	transition: background-color 0.15s;
	z-index: 2;
}
.earnPointsIcons li .description1::after {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5625rem;
	content: 'Redeem';
	background: #fd8023;
	border-radius: 2px;
	bottom: 0.9375rem;
	color: #000;
	display: block;
	left: 0.9375rem;
	padding: 0.75rem;
	position: absolute;
	right: 0.9375rem;
	text-align: center;
	transition: background-color 0.15s;
	z-index: 2;
}
.earnPointsIcons li .description1 {
	color: grey;
}
.info-container button span {
	line-height: 1.75rem;
}
.learnMoreContainer {
	background-color: #000;
	color: #fff;
}
.learnMoreContainer1 {
	background-color: rgb(0, 86, 179);
	color: #fff;
}
.learnMoreContainer1 p {
	font-size: 14px;
}
.react-multiple-carousel__arrow {
	position: absolute;
	outline: 0;
	transition: all 0.5s;
	z-index: 1000;
	border: 0;
	min-width: 43px;
	min-height: 43px;
	opacity: 1;
	cursor: pointer;
	background: transparent;
	border: 1px solid grey;
}
.react-multiple-carousel__arrow::before {
	font-size: 25px;
	color: #000;
	display: block;
	font-family: revicons;
	text-align: center;
	z-index: 2;
	position: relative;
	border-radius: 50%;
}

